[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
pillow = "*"
django-environ = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.9"
