{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>My Books</h2>

<div class="book-container">
    {% if books %}
        {% for book in books %}
        <div class="book-item">
            <a href="{% url 'book-detail' book.id %}" class="book-link">
                <div class="book-cover">
                    {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" alt="Cover image of {{ book.title }}">
                    {% else %}
                    <img src="{% static 'images/main.webp' %}" alt="Default cover image">
                    {% endif %}
                    <div class="book-info">
                        <p class="book-title">{{ book.title }}</p>
                        <div class="book-rating">
                            {% for i in "12345" %}
                                {% if i|add:"0" <= book.rating %}
                                    <i class="fas fa-star"></i> 
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="favorite-icon">
                            <i class="fa-heart {% if request.user in book.favorited_by.all %}fas{% else %}far{% endif %}"
                               data-book-id="{{ book.id }}"></i>
                            <span class="favorite-count">{{ book.favorite_count }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <p>You haven't uploaded any books yet.</p>
    {% endif %}
</div>

<h2>My Favorites</h2>

<div class="book-container">
    {% if favorite_books %}
        {% for book in favorite_books %}
        <div class="book-item">
            <a href="{% url 'book-detail' book.id %}" class="book-link">
                <div class="book-cover">
                    {% if book.cover_image %}
                    <img src="{{ book.cover_image.url }}" alt="Cover image of {{ book.title }}">
                    {% else %}
                    <img src="{% static 'images/main.webp' %}" alt="Default cover image">
                    {% endif %}
                    <div class="book-info">
                        <p class="book-title">{{ book.title }}</p>
                        <div class="book-rating">
                            {% for i in "12345" %}
                                {% if i|add:"0" <= book.rating %}
                                    <i class="fas fa-star"></i> 
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="favorite-icon">
                            <i class="fa-heart fas" data-book-id="{{ book.id }}"></i>
                            <span class="favorite-count">{{ book.favorite_count }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <p>You haven't favorited any books yet.</p>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const heartIcons = document.querySelectorAll('.favorite-icon i');

        heartIcons.forEach(icon => {
            icon.addEventListener('click', function(event) {
                event.preventDefault();
                const bookId = this.getAttribute('data-book-id');
                const iconElement = this;
                const favoriteCountElement = iconElement.nextElementSibling;

                fetch(`/books/${bookId}/toggle_favorite/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    credentials: 'same-origin',
                })
                .then(response => response.json())
                .then(data => {
                    if (data.favorited) {
                        iconElement.classList.remove('far');
                        iconElement.classList.add('fas');
                        favoriteCountElement.textContent = parseInt(favoriteCountElement.textContent) + 1;
                    } else {
                        iconElement.classList.remove('fas');
                        iconElement.classList.add('far');
                        favoriteCountElement.textContent = parseInt(favoriteCountElement.textContent) - 1;
                    }
                });
            });
        });
    });
</script>
{% endblock %}
